# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Python
__pycache__/

# Python - Flask
.env
.flaskenv
.webassets-cache
*.sqlite
instance/
packed.css

# Python - pytest
.pytest_cache/
